
<mat-form-field style="width: 100%">
    <mat-label>Dealer</mat-label>
    <input matInput [(ngModel)]="params.id" (ngModelChange)="resetOffset()" (keyup.enter)="load()">
</mat-form-field>

<mat-form-field style="width: 100%">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="params.description_like" (ngModelChange)="resetOffset()" (keyup.enter)="load()">
</mat-form-field>

<button mat-flat-button color="primary" style="width: 100%">Search</button> <hr>

<table mat-table [dataSource]="list" matSort (matSortChange)="sort($event)" style="width: 100%">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="format"> id </th>
      <td mat-cell *matCellDef="let element" class="format"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="format"> Description </th>
      <td mat-cell *matCellDef="let element" class="format"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="xs format"> Status </th>
      <td mat-cell *matCellDef="let element" class="xs"> {{element.status.description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['id', 'description', 'status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'description', 'status'];" (click)="navigate(row)"></tr>
  </table>

  <mat-paginator [length]="list[0]?.record_count" [pageSize]="params.limit"
  [pageSizeOptions]="[2, 5, 10, 20]" [pageIndex]="params.offset/params.limit"
  (page)="pageChanged(($event))"></mat-paginator>
  
  