<table mat-table [dataSource]="dealer.structures"   style="width: 100%">

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef style="width: 1%;" class="format"> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    
    <ng-container matColumnDef="network">
        <th mat-header-cell *matHeaderCellDef style="width: 1%;"class="format" > Network </th>
        <td mat-cell *matCellDef="let element"> {{element.network.description}} </td>
    </ng-container>

    <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region </th>
        <td mat-cell *matCellDef="let element"> {{'region_' + element.region.id | t}} </td>
    </ng-container>

    <ng-container matColumnDef="zone">
        <th mat-header-cell *matHeaderCellDef> Zone </th>
        <td mat-cell *matCellDef="let element"> {{element.zone.description}} </td>
    </ng-container>
    
    <ng-container matColumnDef="field_manager">
        <th mat-header-cell *matHeaderCellDef class="xs"> Field manager </th>
        <td mat-cell *matCellDef="let element" class="xs"> {{element.field_manager.description}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="['type', 'network', 'region', 'zone', 'field_manager']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['type', 'network', 'region', 'zone', 'field_manager'];"></tr>
</table>