<mat-nav-list >

  <a mat-list-item routerLink="/dashboard" class="menu {{current_page=='dashboard'?'menu-active':''}}">{{"dashboard" | t}}</a>
  <a mat-list-item routerLink="/dealers" class="menu {{current_page=='dealers'?'menu-active':''}}">{{"dealers" | t}}</a>
  <a mat-list-item routerLink="/contracts" class="menu {{current_page=='contracts'?'menu-active':''}}">{{"contracts" | t}}</a>
  <a mat-list-item routerLink="/boxes" class="menu {{current_page=='boxes'?'menu-active':''}}">{{"boxes" | t}}</a>

</mat-nav-list>