.red {
    color: red !important;
}

.orange{
    color: orange;
}

.double-line-container{
  display: flex;flex-direction: row;flex-wrap: wrap; align-content: stretch;
  margin-bottom: 2em;
}

.double-line-button-long{
  width: 70%;
  margin-right: 2em;
  margin-left: 2em;
}

.double-line-button-short{
  width: 25%;
}

.single-line-button{
  width: 100%;
}

.red-row {
  background-color: #ffadad;
}
.green-row {
  background-color: #cffac9;
}
.yellow-row {
  background-color: #fff5a0;
}

