<mat-form-field *ngFor="let e of config.search_params" style="width: 100%">
  <mat-label>{{e.label | t}}</mat-label>
  <input matInput [(ngModel)]="params[e.field]" (ngModelChange)="resetOffset()" (keyup.enter)="load_list()">
</mat-form-field>

<div class="double-line-container">
  <button mat-flat-button *ngIf="config.search_params.length>0" color="primary"
    class="{{export ? 'double-line-button-long' : 'single-line-button'}}"
    (click)="load_list()">{{"search" | t}}</button>
  <button mat-flat-button *ngIf="export" color="primary"
    class="{{export ? 'double-line-button-short' : 'single-line-button'}}" (click)="export_excel()">{{"export" | t}}</button>
</div>


<table mat-table [dataSource]="list" matSort (matSortChange)="sort($event)" style="width: 100%">

  <ng-container *ngFor="let e of config.table_fields" [matColumnDef]="e.label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!e.sortable" class="format {{e.classes}}">
      {{e.label | t}} </th>
    <td mat-cell *matCellDef="let element" class="format {{e.classes}}">
      <span *ngIf="!e.actions">{{e.render? e.render(element) : element[e.field]}}</span>
      <mat-icon *ngFor="let action of e.actions" class="{{action.class}}" style="cursor: pointer;"
        (click)="action.action(element)">
        {{action.icon}}
      </mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="table_fields()"></tr>
  <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: table_fields()" (click)="navigate(row)"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="20" style="text-align: center;">{{"no_data_found" | t}}</td>
  </tr>
</table>

<mat-paginator [length]="list[0]?.record_count" *ngIf="list && list[0]?.record_count>0" [pageSize]="common_params.limit"
  [pageSizeOptions]="[10, 20, 50]" [pageIndex]="common_params.offset/common_params.limit" (page)="pageChanged(($event))"
  [itemsPerPageLabel]="pippo"></mat-paginator>

<pre>{{list | json}}</pre>
