<!-- <pre *ngIf="list">{{(list | filter:x:['id','description']).length}}</pre>
<pre>{{selected_category}}</pre> -->


<h2>{{"doc_type_selection" | t}}</h2>
<div>
    <mat-form-field class="example-full-width" style="width: 70%">
        <input matInput placeholder="{{'doc' | t}}" [(ngModel)]="x">
    </mat-form-field>
    <mat-form-field style="padding-left: 2%; width: 28%;">
        <mat-select [(ngModel)]="selected_category" placeholder="{{'category' | t}}">
            <mat-option *ngFor="let e of categories" [value]="e">
            {{e | t}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<table class="mat-table" style="width: 100%;" >
    <tr class="mat-header-row" >
        <th class="mat-header-cell" style="width: 3%;">
            {{"id" | t}}
        </th>
        <th class="mat-header-cell" style="width: 55%;">
            {{"description" | t}}
        </th>
        <th class="mat-header-cell" >
            {{"category" | t}}
        </th>
        <th class="mat-header-cell" >
            {{"attachment" | t}}
        </th>
    </tr>
    <tr *ngFor="let e of list | filter:selected_category:['category'] | filter:x:['id','description'] | limit:6" 
            (click)="add_doc_type(e)" 
            class="mat-row" 
            style="cursor: pointer;" >
        <td class="mat-cell format">
            {{e.id}}
        </td>
        <td class="mat-cell">
            {{e.description}}
        </td>

        <td class="mat-cell">
            {{e.category}}
        </td>

        <td class="mat-cell">
            {{e.attachment}}
        </td>
    </tr>
</table>