
<h2 *ngIf="dealer">{{"dealer" | t}} {{dealer.id}} - {{dealer.description}} ({{"dealer_status_" + dealer.status | t}})</h2>

<mat-tab-group>
    <mat-tab label="{{'info' | t}}" *ngIf="dealer">
        <app-dealer-info [dealer]="dealer"></app-dealer-info>
    </mat-tab>
    <mat-tab label="{{'structures' | t}}" *ngIf="dealer"> 
        <app-dealer-structures [dealer]="dealer"></app-dealer-structures>
    </mat-tab>
    <mat-tab label="{{'mandates' | t}}" *ngIf="dealer">
        <app-dealer-mandates [dealer]="dealer"></app-dealer-mandates>
    </mat-tab>
    <mat-tab label="{{'contracts' | t}}" *ngIf="dealer">
        <app-dealer-contracts [dealer]="dealer"></app-dealer-contracts>
    </mat-tab>
</mat-tab-group>

<pre>{{dealer | json}}</pre>
  