
<h1 *ngIf="dealer">{{dealer.id}} - {{dealer.description}}</h1>
<h3 *ngIf="dealer">{{dealer.status?.description}}</h3>

<mat-tab-group>
    <mat-tab label="Info" *ngIf="dealer">
        <app-dealer-info [dealer]="dealer"></app-dealer-info>
    </mat-tab>
    <mat-tab label="Structures" *ngIf="dealer"> 
        <app-dealer-structures [dealer]="dealer"></app-dealer-structures>
    </mat-tab>
    <mat-tab label="Mandates" *ngIf="dealer">
        <app-dealer-mandates [dealer]="dealer"></app-dealer-mandates>
    </mat-tab>
    <mat-tab label="Contracts" *ngIf="dealer">
        <app-dealer-contracts [dealer]="dealer"></app-dealer-contracts>
    </mat-tab>
</mat-tab-group>
  