<table class="mat-table" style="width: 100%;">
    <tr class="mat-header-row">
        <th class="mat-header-cell" >
            {{"service" | t}}
        </th>
        <th class="mat-header-cell" >
            {{"brand" | t}}
        </th>
        <th class="mat-header-cell" >
            #{{"documents" | t}}
        </th>
        <th class="mat-header-cell" >
            {{"signed_contracts" | t}}
        </th>
        <th class="mat-header-cell" >
            {{"completed" | t}}
        </th>
    </tr>
    <tr class="mat-header-row" *ngFor="let e of dealer.contracts; let i = index">
        <td class="mat-cell" >
            {{e.service_id}}
        </td>
        <td class="mat-cell">
            <span [matTooltip]="e.brand_id" matTooltipPosition="right">
                <img src="/assets/brand_{{e.brand_id}}.png" style="height: 48px;">
            </span>
        </td>
        <td class="mat-cell" >
            <a [routerLink]="'/dealers/' + dealer.id + '/contracts/' + e.id + '/documents'">
                {{dealer.contracts.length}}
            </a>
        </td>
        <td class="mat-cell">
            URL
        </td>
        <td class="mat-cell">
            <mat-icon style="color: green">done</mat-icon>
        </td>
    </tr>
</table>