<h1>GeCo Dashboard</h1>


<div class="dashboard-box">
  <mat-card class="dashboard-card">
    <app-basechart type="bar"></app-basechart>
  </mat-card>

  <mat-card class="dashboard-card">
    <app-basechart type="doughnut"></app-basechart>
  </mat-card>

  <mat-card class="dashboard-card">
    <app-basechart type="line"></app-basechart>
  </mat-card>

  <mat-card class="dashboard-card">
    <app-basechart type="pie"></app-basechart>
  </mat-card>

  <mat-card class="dashboard-card">
    <app-basechart type="radar"></app-basechart>
  </mat-card>

</div>

