<h1>GeCo Dashboard</h1>


<div class="dashboard-box">
  <mat-card class=" mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Bar </mat-card-header>
    <app-basechart type="bar" section="bar" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Doughnut </mat-card-header>
    <app-basechart type="doughnut" section="doughnut" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Line </mat-card-header>
    <app-basechart type="line" section="line" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Pie </mat-card-header>
    <app-basechart type="pie" section="pie" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Radar </mat-card-header>
    <app-basechart type="radar" section="radar" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart polarArea </mat-card-header>
    <app-basechart type="polarArea" section="polarArea" ></app-basechart>
  </mat-card>

  <mat-card class="mat-elevation-z5 dashboard-card">
    <mat-card-header >Label chart Bubble </mat-card-header>
    <app-basechart type="bubble" section="bubble" ></app-basechart>
  </mat-card>


</div>

